body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#F7EAC1;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}


h3{  
    text-align: left;  
    color: #053564;  
    padding: 20px;  
}
.contact-p{  
    text-align: center;  
    color: #000000; 
    margin-left: 25px;  
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 50%;
}

label{  
    color: #053564;  
    font-size: 14px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: red;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  

body, html {
    height: 100%;
    margin: 0;
  }
  
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #107691;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #01AAA1;
    color: black;
  }
  
  .topnav a.active {
    background-color: #053564;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .responsive {
        width: 100%;
        height: auto;
  }

  p{
      margin-top: 0;

  }
  .form-group1{
      margin-left: 9px;
  }
  h3{
      margin-left: 10px;
  }
  .col{
      width: 100%;
      height: 100%;
  }

  input[type="radio"]{
      margin-left: 10px;
      margin-right: 3px;
  }

  .centerimage{
      display: block;
      margin-left: auto;
      margin-right: auto;
      
  }